<html>
    <head>
        <title>Blog Django Girls</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Blog Django Girls</a></h1><hr>
        </div>
        
        <div>
            <h2>Últimas Postagens</h2>
            {% for post in posts %}<br>
                <p>published: {{ post.published_date }}</p>
                <h3><a href="">{{ post.title }}</a></h3>
                <p>{{ post.text|linebreaksbr }}</p>
            {% endfor %}
        </div>

    </body>
</html>